*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
    background-color: #2ecc71;
    height: 100vh;
}

header{
  color: snow;
  background-color: #9b59b6;
}

nav{
  background-color: white;
}

h1{
  color: snow;
}

div{
  height: 86%;
}

footer{
  text-align: center;
  height: 8vh;
  background-color: snow;
  bottom: 0px ;
}
